.unsupported {
  max-width: mantine.rem(200);
  text-align: right;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: mantine.rem(2);
}

.errorMessage {
  white-space: nowrap;
}

.toggle {
  color: var(--text-dim);

  @include mantine.hover {
    color: var(--text);
  }
}

.subscribed {
  color: var(--mantine-color-violet-4);

  @include mantine.hover {
    color: var(--mantine-color-violet-3);
  }
}
