.title {
  font-size: mantine.rem(36);
  font-weight: 900;
  letter-spacing: mantine.rem(-1);
  text-transform: uppercase;

  @include mantine.smaller-than(mantine.$mantine-breakpoint-sm) {
    font-size: mantine.rem(28);
  }
}
